.container-fluid.main-page
  .row-fluid.first-row
    .col-sm-4
      = image_tag  "csp_logo.svg", :class => "text-center img-responsive", :id => "main-logo", :alt => "Chi Safe Path logo"
      %br
      .row-fluid.light-background
        %p.intro-text.text-center Report accessibility hazards to Chicago's 311 system, see what's been reported, and get directions avoiding known issues
        .row-fluid
          %a.btn.btn-default.text-center{href: "/routing"} Get Directions
        %br
        .row-fluid
          %a.btn.btn-default.text-center{href: "/issue"} Report a Hazard
    %br
    .col-sm-8
      #main-map-container
        #map
:javascript
  var altIconUrl = "#{asset_path('map_marker.svg')}";
= javascript_include_tag "map"
