%div{class: "container main-page"}
  %div{class: "vertical-center"}
    = image_tag  "csp_logo.svg", :class => "text-center img-responsive", :alt => "ChiSafePath logo"
  %br
  %div{class: "vertical-center"}
    %form{class: "slim-center", id: "uploadForm", name: "uploadForm"}
      %div.form-group
        %div{class: "vertical-center text-center"}
          %p Upload any image with geotags, get your current location, or input an address to report hazardous sidewalks in the city of Chicago
        %h3 Geotagged Image
        %input{type: "file", id: "userPhoto"}
        %br
        %span#geo-warn
      %div.form-group
        %h3 Use Current Location
        %button{id: "loc-button", type: "button", class: "btn btn-default", onclick: "getLocation();"} Get Location
        %span#geo-button-res
      %div.form-group
        %h3 Input Address
        %input{type: "text", class: "typeahead form-control", id: "addr-search"}
      %div.form-group
        %h3 Issues
        .checkbox
          %label
            %input{type: "checkbox", id: "broke_box", name: "broke", value: "Sidewalk broken"} Sidewalk broken
        .checkbox
          %label
            %input{type: "checkbox", id: "curb_box", name: "curb", value: "No curb cut"} No curb cut
        .checkbox
          %label
            %input{type: "checkbox", id: "construction_box", name: "construction", value: "Unusable due to construction"} Unusable due to construction
        .form-inline
          %input{type: "text", class: "form-control", id: "other_issue", placeholder: "Other issues..."}
      %button{id: "geo-submit", type: "submit", class: "btn btn-default"} Submit
      %span#submit-warn
= javascript_include_tag "issue"
