%div{class: "container main-page"}
  %div{class: "vertical-center"}
    = image_tag  "csp_logo.svg", :class => "text-center img-responsive", :alt => "ChiSafePath logo"
  %br
  %div{class: "vertical-center text-center"}
    %p Your issue has been successfully submitted
    %br
    %a{href: "/", class: "btn btn-default text-center"} Submit Another Issue
    %br
    %br
    %a{href: "/map", class: "btn btn-default text-center"} View Map
