/* GENERAL */

html {
  position: relative;
  height: 100%;
}

body {
  align: center;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  color: #47474a;
  background-color: #b3ddf2;
  height: auto;
}

a {
  color: #176FBB;
}

h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.main-page {
  margin-bottom: 15px;
}

/* NAV */

.navbar {
  margin-bottom: 0;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}


.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.plannerpanel {
  background-color : #eeeeee;
}

/* Class to hide additional accessibiltiy labels */
.accessibility-helper {
  border: 0px none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
}

.planner-options {
  padding : 24px;
  margin-left: auto;
  margin-right: auto;
}

.planner-options {
  border-bottom: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .planner-options {
    max-width: 730px;
  }

  .planner-form {
    margin-top: 80px;
  }

  .planner-summary {
    margin-top: 18px;
  }

  #planner-leg-list.affix {
    position: fixed;
    width: 100%
  }
}

@media (max-width: 768px) {
  .affix {
     position: static;
  }
}

/* Remove spin buttons in webkit for form */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* Equal sizes for input-group-addons in the planner-options panel */
.planner-options-input-addon{
  min-width : 5em;
}

.planner-options-dateinput{
  padding-top: 4px;
}

.planner-options-inputgroup-via {
  padding-top: 4px;
}

.planner-options-inputgroup-dest {
  padding-top: 4px;
}

.planner-options-submitbutton {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.planner-advice-container {
  margin-top: 8px;
}

.planner-advice-dateheader{
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

#planner-advice-list{
  display: table;
  width: 100%;
}

.leg-header{
  display: inline-block;
}

.leg-header-agency-name{
  position: absolute;
  right: 10px;
}

.step-item {
  padding-left: 37px;
}

.glyphicon-chevron-right {
  padding-right: 5px;
  color: #428bca
}

.grey {
  color: #999;
}

.delay {
  color : red;
}

.early {
  color : blue;
}

.ontime {
  color : green;
}

#route-map {
  height: 500px;
  width: 100%;
  /*display: none;*/
}

#map-toggle {
  width: 100%;
}
