html {
  position: relative;
  height: 100%;
}

body {
  align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #47474a;
  background-color: #b3ddf2;
  height: 100%;
}

a {
  color: #176FBB;
}

#map-container {
  height: 100%;
  padding-top: 50px;
}

.main-page {
  margin-top: 50px;
  margin-bottom: 60px;
}

span.twitter-typeahead, input.typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  background-color: white;
  border: 1px solid #9a9b9f;
}

.tt-suggestion {
  background-color: white;
  width: 100%;
  padding: 5px;
}

.tt-cursor {
  background-color: #dcedf4;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

h3 {
  margin-bottom: 15px;
}

#other_issue {
  width: 100%;
}

.img-responsive {
  margin: 0 auto;
  width: 500px;
  margin-top: 35px;
}

.slim-center {
  max-width: 500px;
  align: auto;
  margin: auto;
}

#map {
  height: 100%;
}

.leaflet-custom-button {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin: 0;
  margin-right: 3px;
  float: right;
}

.leaflet-custom-button:hover, .leaflet-custom-button:active {
  background-color: #EEEEEE;
}

#geo_button_res {
  padding-left: 10px;
}

#submit_warn {
  padding-left: 10px;
}

.tooltip-img {
  max-height: 200px;
}
