!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
    %meta{ content: "yes", name: "apple-mobile-web-app-capable" }
    %title Chi Safe Path
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
  %body
    %nav{ class: "navbar navbar-default navbar-fixed-top"}
      .container
        %ul{class: "nav navbar-nav"}
          %li
            %a{href: "/"} Home
          %li
            %a{href: "/map"} Map
          %li
            %a{href: "/routing"} Get Directions
          %li
            %a{href: "/about"} About
    = yield
